@charset "utf-8";
/* ===========================================================

	Title: contents.css
	Created: 2020-10-28

=========================================================== */
/*

	icon
	button
	tab
	hub
	list
	sort
	page-link
	popup
	video


=========================================================== */
/* ===========================================================

	icon

=========================================================== */
.icon__pdf--small,
.icon__xls--small,
.icon__link--small,
.icon__video--small,
.file-icon--pdf{
	width: 48px;
	height: 18px;
	line-height: 18px;
	font-size: 1.1rem;
	text-align: center;
	display: inline-block;
	margin: 0 5px;
	text-transform: uppercase;
	color: #fff;
	background-color: #002869;
}
.icon__pdf--small {
}
.icon__xls--link {
}
.icon__link--small {
}
.icon__video--small {
}
.ic-xls-s {
	color: #80AF63;
	border-color: #80AF63;
}
.ic-zip-s {
	color: #C69100;
	border-color: #C69100;
}
.ic-file-s {
	color: #002869;
	border-color: #002869;
}
.ic-link-s {
	color: #002869;
	border-color: #002869;
}
.file-icon--small {
	width: 48px;
	height: 18px;
	margin: 0 8px;
	color: #fff;
	font-size: 1.1rem;
	line-height: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 400;
	font-family: 'Lato', sans-serif;
	text-decoration: none !important;
	text-transform: uppercase;
	background-color: #002869;
}
.file-icon--small.file-icon__pdf {background-color: #002869;}

.file-icon--large {
	width: 50px;
    height: 50px;
    line-height: 38px;
    text-align: center;
    display: inline-block;
    margin: 0 5px 5px;
    font-size: 14px;
    color: #002869;
    border-top: solid 10px #002869;
    background-color: #e1e4e7;
}
a:link .file-icon--large,
a:visited .file-icon--large {
	text-decoration: none !important;
}
.ic-pdf-l {
	color: #002869;
	border-color: #002869;
}
.ic-xls-l {
	color: #80AF63;
	border-color: #80AF63;
}
.ic-zip-l {
	color: #C69100;
	border-color: #C69100;
}
.ic-file-l {
	color: #002869;
	border-color: #002869;
}

.sticker {
	width: 128px;
	height: 32px;
	font-size: 1.4rem;
	line-height: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #000;
	color: #fff;
}

.ic-press11 {background-color: #0064D7;} /*物件*/
.ic-press12 {background-color: #37A5FF;} /*決算*/
.ic-press13 {background-color: #82C3FF;} /*借入*/
.ic-press14 {background-color: #5A88BF;} /*増資*/
.ic-press15 {background-color: #4c4c4c;} /*その他*/

.ic-top-press1 {background-color: #002869;} /*更新*/
.ic-top-press2 {background-color: #0064D7;} /*お知らせ*/
.ic-top-press3 {background-color: #4c4c4c;} /*その他*/
.ic-top-press10,
.ic-top-press11,
.ic-top-press12,
.ic-top-press13,
.ic-top-press14,
.ic-top-press15 {background-color: #5A88BF;} /*リリース*/

.ul-sort li.cate00 a:hover,
.ul-sort li.cate00 a.current { background-color: #002869;} /*すべて*/
.ul-sort li.cate11 a:hover,
.ul-sort li.cate11 a.current { background-color: #0064D7;} /*物件*/
.ul-sort li.cate12 a:hover,
.ul-sort li.cate12 a.current { background-color: #37A5FF;} /*決算*/
.ul-sort li.cate13 a:hover,
.ul-sort li.cate13 a.current { background-color: #82C3FF;} /*借入*/
.ul-sort li.cate14 a:hover,
.ul-sort li.cate14 a.current { background-color: #5A88BF;} /*増資*/
.ul-sort li.cate15 a:hover,
.ul-sort li.cate15 a.current { background-color: #4c4c4c;} /*その他*/


/* ===========================================================

	tab

=========================================================== */
.tabs > .tab {
}
.tabs > .tab.active, .tabs > .tab a.active {
	font-weight: bold;
}
.panels > .panel {
	display: none;
}
.panels > .panel.active {
	display: block;
}

/* ===========================================================

	list

=========================================================== */
/* dl-horizontal-a
----------------------------------------------------------- */
dl.dl-horizontal-a {
	clear: both;
}
dl.dl-horizontal-a dt {
	clear: both;
	float: left;
}
dl.dl-horizontal-a dd {
	border-bottom: dotted 1px #ccc;
	margin: 0 0 10px;
	padding: 0 0 10px 12em;
}

/* dl-date
----------------------------------------------------------- */
dl.dl-date {
	clear: both;
}
dl.dl-date dt {
	clear: both;
	float: left;
	margin: 0 0 10px;
	padding: 0 0 10px;
}
dl.dl-date dd {
	border-bottom: dotted 1px #ccc;
	margin: 0 0 10px;
	padding: 0 0 10px 9em;
	text-align: left;
}
dl.dl-date dd a {
	text-decoration: none;
}
/* revied */
dl.dl-date dt.revied {
	//background: url(../../img/common/ic/revied_last.png) 10px -2px no-repeat;
	padding-left: 30px !important;
}
dl.dl-date dd.revied {
	margin: 0 0 10px 30px;
}
@media screen and (max-width: 1024px) {
dl.dl-date dt {
	clear: both;
	float: none;
	margin: 0 0 5px;
	padding: 0;
}
dl.dl-date dd {
	padding: 0 0 10px 0;
}
}

/* dl-pertinent
----------------------------------------------------------- */
dl.dl-pertinent {
	clear: both;
	border: solid 1px #d8dbdf;
	padding: 0 0 10px;
}
dl.dl-pertinent:after {
	content: ".";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}
dl.dl-pertinent {
	zoom: 1;
}
dl.dl-pertinent dt {
	clear: both;
	border-bottom: solid 1px #d8dbdf;
	font-weight: bold;
	margin: 0 0 15px;
	padding: 8px 20px;
	background: #f9f9f9;
}
dl.dl-pertinent dd {
	float: left;
	margin: 0 0 5px 20px;
	padding: 0 10px 0 25px;
	position: relative;
}
dl.dl-pertinent dd:before {
	position: absolute;
	top: 50%;
	left: 15px;
	margin: -3px 0 0;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 3px 0 3px 4px;
	border-color: transparent transparent transparent #aaa;
}
@media screen and (max-width: 1024px) {
dl.dl-pertinent dt {
	padding: 8px 10px;
}
dl.dl-pertinent dd {
	margin: 0 0 5px 0;
	padding: 0 10px 0 25px;
}
}

/*ul-sort
----------------------------------------------------------- */
.ul-sort li {
	line-height: 25px;
	height: 25px;
	margin: 0 5px 10px 0;
	display: inline-block;
}
.ul-sort li a {
	vertical-align: text-bottom;
	font-size: 12px;
	text-align: center;
	line-height: 23px;
	height: 25px;
	position: relative;
	padding: 0 20px 0 25px;
	background-color: #fff;
	color: #002869;
	display: inline-block;
	border-style: solid;
	border-width: 1px;
	border-color: #ddd;
	text-decoration: none;
}
.ul-sort li a:before {
	position: absolute;
	top: 50%;
	left: 15px;
	margin: -3px 0 0;
	content: "";
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 3px 0 3px 4px;
	border-color: transparent transparent transparent #aaa;
}
.ul-sort li a:hover:before  {
	border-color: transparent transparent transparent #fff;
}
.ul-sort li a:hover {
	border-color: transparent;
	text-decoration: none;
	color: #fff;
}
.ul-sort li a.current {
	cursor: default;
	border-color: transparent;
	color: #fff;
}
.ul-sort li a.current:before {
	border-color: transparent transparent transparent #fff;
	opacity: 0.2;
}

/* ul-backnumber
----------------------------------------------------------- */
.ul-backnumber {
	display: flex;
	flex-wrap: wrap;
	clear: both;
	margin: 0 -2px 32px!important;
	padding: 0 !important;
}
.ul-backnumber li {
	overflow: hidden;
	margin: 0 2px 4px;
	padding: 0 16px;
	border-right: solid 1px #ddd;
	line-height: 1.2;
}
.ul-backnumber li:first-child {
	border-left: solid 1px #ddd;
}
.ul-backnumber li a {
	display: block;
	padding: 5px 10px;
}
.ul-backnumber li a.current {
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	background-color: #002869;
}
.ul-backnumber li a:link, .ul-backnumber li a:visited {
}
.ul-backnumber li a:hover {
}

/* ul-page-link
----------------------------------------------------------- */
.ul-page-link,
.ul-page-link-bottom {
	clear: both;
	margin: 0 0 20px;
	padding: 0 !important;
	line-height: 1;
	border-left: none;
	width: 100%;
}
.ul-page-link li,
.ul-page-link-bottom li {
	display: inline-block;
	float: left;
	text-align: center;
	margin: 0 2px 2px 0;
}
.ul-page-link li:last-child,
.ul-page-link-bottom li:last-child {
	margin: 0 0 2px 0;
}
.ul-page-link li a,
.ul-page-link-bottom li a {
	display: inline-block;
	padding: 10px 25px 10px 10px;
	border: solid 1px #ddd;
	color: #002869;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all .3s ease;
}
.ul-page-link li a:after,
.ul-page-link-bottom li a:after {
	position: absolute;
	content: "";
	vertical-align: middle;
	top: 50%;
	right: 10px;
	width: 6px;
	height: 6px;
	border-top: 1px solid #002869;
	border-right: 1px solid #002869;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all .2s ease;
}
.ul-page-link li a:after {
	margin: -6px 0 0;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}
.ul-page-link-bottom li a:after {
	margin: -2px 0 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(-45deg);
}
.ul-page-link li a:hover,
.ul-page-link-bottom li a:hover {
	text-decoration: none;
	border: solid 1px #fff;
	color: #fff !important;
	background-color: #002869;
}
.ul-page-link li a:hover:after,
.ul-page-link-bottom li a:hover:after {
	border-top: 1px solid #fff;
	border-right: 1px solid #fff;
}

/* page-link
----------------------------------------------------------- */
.page-link {
}
.page-link li {
}
.page-link li a {
    font-size: 1.6rem;
	display: block;
	padding: 15px 50px 15px 15px;
	border: solid 1px #ddd;
	color: #002869;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all .3s ease;
}
.page-link li a:hover {
	text-decoration: none;
	border: solid 1px #fff;
	color: #fff !important;
	background-color: #002869;
}
.page-link li a::after {
	position: absolute;
	content: "";
	vertical-align: middle;
	top: 50%;
	right: 25px;
	width: 10px;
	height: 10px;
	border-top: 2px solid #fff;
	border-right: 2px solid #fff;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
	transition: all .2s ease;
	margin: -8px 0 0;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
}
.page-link li a:hover::after {
	border-top: 2px solid #002869;
	border-right: 2px solid #002869;
}
.page-link li a::before {
	position: absolute;
	content: "";
	vertical-align: middle;
	top: 50%;
	right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: #002869;
    transform: translate(0,-50%);
}
.page-link li a:hover::before {
    background-color: #fff;
}

/* ===========================================================

	news

=========================================================== */
.news {
	padding: 0;
}
.news dt {
	clear: both;
	float: left;
	width: 16em;
	margin: 0 0 10px;
	padding: 0;
	position: relative;
}
.news dd {
	margin: 0 0 1.0em;
	padding: 0 0 15px 18em;
	border-bottom: dotted 1px #d8dbdf;
}
.news dt span {
	/*margin: 0 0 0 10px;
	width: 110px;
	display: inline-block;*/
}
.news dt span.icon {
	float: right;
	width: 100px;
	line-height: 2.5rem;
	text-align: center;
	color: #fff;
	font-size: 12px;
	display: inline-block;
}

@media screen and (max-width: 768px) {
	.news {
	}
	.news dt {
		clear: both;
		float: none;
	}
	.news dd {
		padding: 0 0 10px 0;
	}
}

/* ===========================================================

	archive-list

=========================================================== */
.archive-list {
	width: 100%;
	margin-bottom: 32px;
}
.archive-list li {
	padding: 16px 0;
	margin: 0;
	display: flex;
}
.archive-list__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 288px;
	padding-right: 32px;
}
.archive-list__body {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.archive-list li a {
	text-decoration: none !important;
	color: #111;
}
.archive-list li a:hover {
	color: #70C5D2;
	text-decoration: none;
}
.archive-list .date {
	min-width: 7.5em;
	display: inline-block;
}
.archive-list .date {
	margin-right: 1.0em;
}
.archive-list .icon {
	margin-right: 2em;
}
.archive-list .archive-list__body {
    flex-shrink: 50;

}
.file-size {
	color: #666;
	font-size: 1.3rem;
	margin: 0 0.1em;
}
/*.file-size::before {
	content: "(";
}
.file-size::after {
	content: ")";
}*/

@media screen and (max-width: 1024px) {
	.archive-list li {
		flex-wrap: wrap;
	}
	.archive-list .archive-list__body {
		width: 100%;
	}
}

/* ===========================================================

	hub

=========================================================== */
/* Put a border around the newly clickable element */
.bl-hot {
	zoom: 1; /* Should be IE only */
	background: #fff;
}
/* rollover style for clickable element */
.bl-hover {
	cursor: pointer;
}
.hub li.bl-hover dl dt a {
	color: #fff;
	background-color: #0064D7;
}
/* Simulate hover on contained link */
.bl-hover a:link {
}
.bl-hover a:visited {
}
/* Some demo layout */
.hub {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}
.hub li {
	width: 400px;
	margin: 0 20px 35px;
	background-color: #f7f7f7;
}
.hub li dl dt {
}
.hub li dl dt a {
	display: block;
	margin: 0;
	padding: 0 10px 0 35px;
	background-color: #002869;
	line-height: 50px;
	height: 50px;
	font-size: 14px;
	text-decoration: none;
	font-weight: bold;
	color: #fff;
}
.hub li dl dt a:hover {
	background: #0064D7;
}
.hub li dl dt a span.blank {
	display: inline;
	padding: 0 0 0 10px;
}
.hub li dl dd {
	padding: 30px 25px;
}

@media screen and (max-width: 768px) {
.hub li {
	display: block;
	width: 100%;
	margin: 0 0 10px;
}
}

/* ===========================================================

	popup

=========================================================== */
/* js-popup-open
----------------------------------------------------------- */
.js-popup-open {
}

/* js-popup-area
----------------------------------------------------------- */
.js-popup-area {
    display: none;
    position: absolute;
    top: -50px;
    margin: 0 0 0 -150px;
    z-index: 100;
    padding: 20px 20px 5px;
    width: 500px;
    background: #fff;
    border: solid 3px #ddd;
	text-align: left;
}
.js-popup-area .popup-title {
    font-weight: bold;
}
.js-popup-area h3 {
    font-size: 1.5rem;
	line-height: 1.4;
	margin: 0 0 0.5em;
	border: none;
}
.js-popup-area h3::after {
	display: none;
}
.js-popup-area dl {
	display: flex;
	justify-content: flex-start !important;
	align-items: center !important;
	border-top: solid 1px #ddd;
	border-bottom: solid 1px #ddd;
	margin: 0 0 1em !important;
}
.js-popup-area dl dt {
	padding: 0.2em 1em 0.2em 0 !important;
	margin: 0 !important;
	border: none;

}
.js-popup-area dl dd {
	padding: 0.2em 0 !important;
	margin: 0 !important;
	border: none;
	white-space: normal;
}
.js-popup-area p {
	text-align: center !important;
}

@media screen and (max-width: 767px) {
	.js-popup-area {
		top: 0;
		margin: 0;
		transform: translate(-40%, -50%);
		width: 80vw;
	}
	.js-popup-area dl {
		display: block;
	}
	.js-popup-area dl dd {
	}
}

/* js-popup-close
----------------------------------------------------------- */
.js-popup-close {
    position: relative;
    overflow: hidden;
    height: 25px;
    line-height: 23px;
    text-align: center;
    margin: 0 auto;
    padding: 0 20px 0 30px;
    display: inline-block;
    border: solid 1px #cccccc;
    color: #111 !important;
    font-size: 12px;
    font-size: 1.2rem;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all .3s ease;
    cursor: pointer;
}
.js-popup-close:hover {
    text-decoration: none;
    border: solid 1px #fff;
    color: #fff !important;
    border-color: transparent;
    background-color: #002869;
}
.js-popup-close:before, .js-popup-close:after {
    position: absolute;
    top: 50%;
    left: 15px;
    margin: -6px 0 0;
    content: "";
    width: 1px;
    height: 12px;
    background-color: #999;
    -webkit-transform: rotate(45deg);
    transform: rotate(-45deg);
}
.js-popup-close:before {
    -webkit-transform: rotate(45deg);
    transform: rotate(-45deg);
}
.js-popup-close:after {
    -webkit-transform: rotate(-45deg);
    transform: rotate(45deg);
}
.js-popup-close:hover:before, .js-popup-close:hover:after {
    background-color: #fff;
}


/* ===========================================================

	.input-ui

=========================================================== */

.error { color: #008e5b; font-weight: bold; }

.input-ui {}

.input-ui input[type=radio],
.input-ui input[type=checkbox] {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.input-ui input[type=radio] ~ label:before,
.input-ui input[type=checkbox] ~ label:before {
	font-family: FontAwesome;
	display: inline-block;
	content: "\f1db";
	font-size: 1.0em;
	color: #999;
	width: 1.4em;
}

.input-ui input[type=radio]:checked ~ label:before,
.input-ui input[type=checkbox]:checked ~ label:before,
.input-ui input[type=radio]:checked ~ label,
.input-ui input[type=checkbox]:checked ~ label { color: #008e5b; }

.input-ui input[type=radio] ~ label:before { content: "\f10c"; }
.input-ui input[type=radio]:checked ~ label:before{ content: "\f192"; }


.input-ui input[type=checkbox] ~ label:before { content: "\f096"; }
.input-ui input[type=checkbox]:checked ~ label:before{ content: "\f14a"; }


.input-ui input[type=radio]:focus ~ label:before,
.input-ui input[type=checkbox]:focus ~ label:before,
.input-ui input[type=radio]:focus ~ label,
.input-ui input[type=checkbox]:focus ~ label { color: #008e5b; }


.input-ui-text {
	display: block; width: 100%; padding: 5px; margin: 0;
}
.input-ui-text input.input-ui__text {
	display: block; width: 100%; padding: 5px 1.0em; margin: 0;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.15); border-radius: 0;
	background-color: #fff;
	transition: all 0.5s;

}
.input-ui-text input.input-ui__text:focus {
	box-shadow: 0 0 10px 0 rgba(35,43,79,0.50);
	background-color: #fff;
}


.input-ui-button { display: block; min-width: 200px; padding: 5px; margin: 0; }

.input-ui-button input.input-ui__button,
.input-ui-button input.input-ui__button--sub {
	display: block; border: solid 1px #008e5b;
	background-color: #008e5b; color: #fff;
	line-height: 40px; text-align: center;
	width: 100%; font-weight: bold;
	cursor: pointer;
	transition: all 0.5s;
}
.input-ui-button input.input-ui__button--sub {
	border: solid 1px #111; background-color: #111;
}
.input-ui-button input.input-ui__button:hover {
	background-color: #008e5b; color: #fff;
}
.input-ui-button input.input-ui__button:hover,
.input-ui-button input.input-ui__button--sub:hover {
	opacity: 0.5;
}


.input-ui__footer-button {
	display: block; padding: 0; margin: 0; clear: both;
}
.input-ui__footer-button ul {
	display: block; padding: 0; margin: 0; clear: both;
	text-align: center;
}
.input-ui__footer-button li {
	display: inline-block; padding: 0; margin: 0;
}


/* ===========================================================

	video

=========================================================== */
.youtube--16-9 {
     position: relative;
     padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
     height: 0;
     overflow: hidden;
}
.youtube--16-9 iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}


/* ===========================================================

	hab-tab

=========================================================== */
.hab-tab {
	background-color: #f0f0f0;
	padding-top: 32px;
	display: flex;
	justify-content: center;
	border-bottom: solid 1px #ddd;
}
.hab-tab ul {
	max-width: 1080px;
	width: 100%;
	display: flex;
	margin: 0 -4px;
}
.hab-tab ul li {
	margin: 0 4px;
	background-color: #fff;
	width: 100%;
	display: flex;
	align-items: center;
	height: 100%;
	border-radius: 8px 8px 0 0;
	position: relative;
	transition: all 0.5s;
}
.hab-tab ul li a:link,
.hab-tab ul li a:visited {
	padding: 16px;
	color: #111;
	display: block;
	width: 100%;
}
.hab-tab ul li:hover {
	opacity: 0.6;
}
.hab-tab ul li a:hover {
	text-decoration: none;
}
.hab-tab ul li.current::after {
	content: "";
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0;
	bottom: -1px;
	background-color: #fff;
}
.hab-tab ul li.current a {
	color: #002869;
}
.hab-tab ul li.current:hover {
	background: #fff;
	opacity: 1.0;
}
@media screen and (max-width: 1200px) {
	.hab-tab {
		padding: 16px;
	}
	.hab-tab ul {
		flex-direction: column;
		margin: 0;
	}
	.hab-tab ul li {
		margin: 4px 4px;
		height: 100%;
		border-radius: 8px;
		text-align: left;
	}
	.hab-tab ul li a:link,
	.hab-tab ul li a:visited {
	}
}


/* ===========================================================

	link-pagetop

=========================================================== */
.link-pagetop {
	text-align: right;
}
.link-pagetop a:link,
.link-pagetop a:visited {
	color: #111;
	display: inline-block;
	position: relative;
	padding-left: 24px;
	line-height: 32px;
}
.link-pagetop a:hover {
	color: #90c31f;
	text-decoration: none;
}
.link-pagetop a::before,
.link-pagetop a::after {
	transition: all 0.25s;
	content: "";
	position: absolute;
}
.link-pagetop a::before {
	top: 11px;
	left: 0;
	width: 13px;
	height: 1px;
	background: #000;
}
.link-pagetop a::after {
	top: 17px;
	left: 2px;
	width: 9px;
	height: 9px;
	transform: rotate(-45deg);
	border-right: 10px;
	border-top: solid 1px #000;
	border-right: solid 1px #000;
}
