@charset "utf-8";
/* ===========================================================

	Title:		finance.css
	Created:	2021-03-03

=========================================================== */
/*


		unitholders


=========================================================== */
/* ===========================================================

	unitholders

=========================================================== */
/* investment.js graph
----------------------------------------------------------- */
div#invest {
	position: relative;
}
div#invest .unit {
	position:absolute;
	top:295px;
	right:-30px;
}
table.unitholder-table tbody th {
	width: auto !important;
}
