@charset "utf-8";
/* ===========================================================

	Title: font-size--small.css
	Created: 2021-2-16

=========================================================== */
/*

	body
	header


=========================================================== */
/* ===========================================================

	body

=========================================================== */
body {
    font-size: 16px;
    font-size: 1.6rem;
}
/* ===========================================================

	global-menu__sub-navigation

=========================================================== */
/* global-sub-navigation__font-size
----------------------------------------------------------- */
.global-sub-navigation__font-size--large a {
	background-color: #002869;
	color: #fff;
}
@media screen and (max-width: 1023px) {
}