@charset "utf-8";
/* ===========================================================

	Title: font-size--medium.css
	Created: 2021-2-16

=========================================================== */
/*

	body
	header


=========================================================== */
/* ===========================================================

	body

=========================================================== */
body {
    font-size: 24px;
    font-size: 2.4rem;
}
/* ===========================================================

	global-menu__sub-navigation

=========================================================== */
/* global-sub-navigation__font-size
----------------------------------------------------------- */
.global-sub-navigation__font-size--medium a {
	background-color: #002869;
	color: #fff;
}
@media screen and (max-width: 1023px) {
}